{#
/**
 * @file
 * Template per al webform de contacte amb call-to-action.
 */
#}

{# Call to Action abans del formulari #}
<div class="cta-contacte">
  <p class="cta-contacte__text">
    Si estas palabras te resuenan… te invito a escribirme. <br>
    Estoy aquí para acompañarte en tu transformación, con respeto, presencia y ternura consciente.
  </p>
</div>

{# Formulari de contacte #}
{{ form }}
